/*
.row1{
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 200px;
}

.row2{
    display: flex;
    flex-direction: row;
    color: red;
}

.leftside{
    text-align: left;
    background-color: black;

}

.rightside{
    text-align: center;
    background-color: blue;
}

*/

/* NarBar */

.topnav {
    color: black;
    overflow: hidden;
}

/* Style the topnav links */
.topnav a {
    display: inline-block;
    background-color:white;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 25px;
}

  /* Change color on hover */
  .topnav a:hover {
    color: lightskyblue;
}
/*Logo*/

.logo{
    position: relative;
    left:20px;
    width: 105px;
    height: 37px;
}
 
/* Images*/
.row-headerside{
    width: 50%;
    display: block;
    max-width: 100%;
    height: auto;
}

.payment-logo img{
    max-height: 100%;
    max-width: 100%;
}
 
/*The Buttons*/
.button{
    background-color:blue ;
    border: none;
    border-radius: 8px;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1{
    background-color: white;
    color: blue;
    border: 2px solid blue;
    border-radius: 10px;
}

.button2{
    background-color: blue;
    color: white;
    border: 2px solid blue;
    margin-left:25px;
    border-radius: 10px;

}

.button3{
    background-color: white;
    color: blue;
    border: 2px solid blue;    
}

.button4{
    background-color: blue;
    color: white;
    border: 2px solid blue;
    margin-left:25px;

}

.center{
    text-align: center;
}


ol{
    list-style-type: disc;
    display: inline;
}


.row-collect-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
    text-align: left;
    border: none;
}





.footer{
    text-align: center;
    color: white;
    background-color: rgba(0, 60, 255, 0.966);
    padding-top: 2%;
    height: 350px;
}

.bot-icons{
    font-family: fontawesome;
    font-size: large;
    margin-top: 1%;
}

.get-started{
    background-color: rgba(128, 255, 0, 0.822);
    width: 10%;
    color: white;
    border-color: rgba(128, 255, 0, 0.822);
    border-radius: 5px;
    padding-left: 1.2%;
    padding-bottom: 0.1%;
}

.chat{
    background-color: white;
    color: blue;
    margin-left: 4%;
    width: 8%;
    border-color: white;
    border-radius: 5px;
    font-size: 90%;
    padding: 0.2%;
}

