.rowexplore {
    text-align: center;
}

.center {
    text-align: center;
}

.rowlogos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    text-align: center;
    vertical-align: bottom;
    border: none;
}

.rowlogos img{
    max-height: 100%;
    max-width: 100%;
}

.button-explore {
    height: 100px;
    width: 100px;
    border-radius: 10px; 
}

.img-explore {
    width: 50%;
    height: 50%;
}

.payments-button {
    background-color: blue;
    color: #fff;
}

.payment-logo {
    padding: 100px 25px;
    border-radius: 25px 0 0 25px;
    border: solid 1px lightgray;
}

.payment-logo img{
    max-height: 100%;
    max-width: 100%;
}

.payment-benefits {
    background-color: blue;
    color: #fff;
    padding: 100px 100px 100px 25px;
    border-radius: 0 25px 25px 0;
}

.row-accept-payment {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
    text-align: left;
    border: none;
}

.benefits{
    list-style-type: none;
    color:#fff;
}

ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}

.button-learn-more {
    background-color: transparent;
    text-align: center;
    color: #fff;
    width: 200px;
    padding: 5px;
    border: solid 3px #fff;
    border-radius: 10px;
}

/* .circle-icon {
    background-color: #fff;
    width: 2%;
    height: 2%;
    border-radius: 50%;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
    padding: 30px;
} */