body{
    padding-top: 5%;
}

.navbar-brand{
    padding-left: 7%;
}

.navbar-nav {
    display:table;
    width: 50%;
    margin: 0;
    padding-top: 1%;
    font-weight: bold;
    margin-left: 5%;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}

.d-flex{
    width: 22%;
    justify-content: center;
}

nav {
    display: block;
}

.nav-item {
    border: none;
    color: #fff;
}

.row-explore {
    text-align: center;
    padding-top: 3%;
}

.center1 {
    text-align: center;
}

.rowlogos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
    text-align: center;
    vertical-align: bottom;
    border: none;
}

.rowlogos img{
    max-height: 100%;
    max-width: 100%;
}

hr.break {
    background-color:#000;
    color: #000;
    width: 45%;
    height: 1px;
    text-align: center;
    margin: 0 auto;
    border: none;
}

.button-explore {
    position: relative;
    height: 110px;
    width: 100px;
    border: solid 3px lightgray;
    border-radius: 15px;
    color: #000;
    text-align: center; 
}

.button-explore:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.button-text {
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.explore-items {
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0px;
    left: 0;
    text-align: center; 
}

.explore-img {
    margin: auto;
    width: 55%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 35%;
    padding-right: 5%;
    text-align: center; 
}

.payments-button {
    position: relative;
    background-color: rgba(0, 60, 255, 0.966);
    color: #fff;
    height: 110px;
    width: 100px;
    border: solid 3px lightgray;
    border-radius: 15px;  
}

.payments-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.payment-logo {
    padding: 100px 25px;
    border-radius: 25px 0 0 25px;
    border: solid 1px lightgray;
}

.payment-logo img{
    max-height: 100%;
    max-width: 100%;
}

.payment-benefits {
    background-color: rgba(0, 60, 255, 0.966);
    color: #fff;
    padding: 100px 100px 100px 25px;
    border-radius: 0 25px 25px 0;
}

.row-accept-payment {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
    text-align: left;
    border: none;
}

.benefits{
    list-style-type: none;
    color:#fff;
}

ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}

.button-learn-more {
    background-color: transparent;
    text-align: center;
    color: #fff;
    width: 200px;
    padding: 5px;
    border: solid 3px #fff;
    border-radius: 10px;
}

.div-learn-more {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-left: 20px;
}

button a {
    text-decoration: none;
    color: #fff;
}

button a:hover {
    color: #fff;
}

.fa-dollar-sign {
    color: #000;
}

.fa-stack {
    margin: auto;
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 65%;
    padding-right: 5%;
    text-align: center; 
}

.div-needs {
    padding-top: 125px;
    text-align: center;
}

.row-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    text-align: center;
    vertical-align: bottom;
    border: none;
}

.button-learn-more-black {
    background-color: transparent;
    text-align: center;
    color: #000;
    width: 200px;
    padding: 5px;
    border: solid 3px #000;
    border-radius: 10px;
}

.row-bus-needs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    text-align: center;
    vertical-align: bottom;
    border: none;
}

.div-bus-needs {
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    padding-left: 35%;
    padding-bottom: 15%;
}

.needs-icons {
    padding-top: 5%;
}