.page{
    display: flex;
    flex-direction: row;
    background-color: white;
}

.left-side{
    color: white;
    border-radius: 0 0 10000% 10%;
    text-align: center;
    padding-top: 45px;
    padding-right: 350px;
}

.background{
    content:"";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 300px;
    width: 300px;
    box-shadow: 220px 150px 0 0 blue;
    background-color: blue;
}

.button1{
    background-color: blue;
    color: white;
    border-radius: 35px;
    width: 25%;
    border: 2px solid white;
    font-weight: bold;
    font-size: 150%;
}

.right-side{
    color: black;
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
}

.right-side>h1{
    margin-right: 150px;
}

.placeicon{
    font-family: fontawesome;
}

input{
    width: 50%;
    border-radius: 35px;
    padding: 15px 30px;
}

.button2{
    background-color:rgba(0, 68, 255, 0.863);
    border-radius: 35px;
    width: 30%;
    padding: 10px 25px 10px 0;
    margin-right: 20px;
    color: white;
    font-weight: bold;
    font-size: 150%;
    border: 0px;
}

h4{
    padding-right: 20px;
}

.icons img{
    width: 17%;
    height: 17%;
    padding: 0 10px;
}

h1{
    font-size: 65px;
    font-weight: bold;
}