.page1-container{
    text-align: center;
    padding-top: 50px;
}

.rightside-col{
    width: 30px;
    height: 30px;
}
.col>h1{
        margin-left: 17%;
}
.h1 {
    font-size: 65px;
    font-weight: bold;
}

input{
    border-radius: 25px;
}

form{
    margin-left: 10%;
}

.form-control{
    font-family: fontawesome;
}

.buttonSignup{
    background-color:rgba(0, 68, 255, 0.863);
    border-radius: 35px;
    width: 30%;
    margin-right: 20px;
    color: white;
    font-size: 100%;
    padding: 10px 25px 10px 0;
    margin-left: 75px;
    border: 0px;
}

.socialplatform{
    margin-left: 200px;
}
.placeicon{
    font-family: fontawesome;
    padding: 10px;
}
.col {
    color: black;
    text-align: left;
    padding-top: 50px;
    padding-left: 70px;
    font-weight: bold;
}

.icons img{
    width: 17%;
    height: 17%;
    padding: 0 10px;
   align-content: center;
}

.row{
    display: flex;
    flex-direction: row;
}