.page1-container{
    text-align: center;
    padding-top: 50px;
}

.rightside-col{
    width: 30px;
    height: 30px;

}

input{
    border-radius: 25px;
}


.form-control{
    font-family: fontawesome;
}

.buttonSignup{
    background-color:rgba(0, 68, 255, 0.863);
    border-radius: 35px;
    width: 30%;
    padding: 10px 25px 10px 0;
    margin-right: 20px;
    color: white;
    font-size: 150%;
    border: 0px;
}
