.page{
    display: flex;
    flex-direction: row;
    background-color: white;
}

.left-side{
    color: white;
    text-align: center;
    padding-top: 4%;
    padding-right: 15%;
    background-image: url(../images/CRM-SignIn/e);
    clip-path: ellipse(85% 160% at 12% -61%);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
    height: 910px;
}

.button1{
    background-color: blue;
    color: white;
    border-radius: 35px;
    width: 25%;
    border: 2px solid white;
    font-weight: bold;
    font-size: 150%;
}

.left-side img{
    width: 55%;
    height: 55%;
    position: relative;
    margin-left: 12%;
    margin-top: 7%;
}

.right-side{
    color: black;
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
}

.right-side>h1{
    margin-right: 17%;
}

.placeicon{
    font-family: fontawesome;
    font-size: large;
}

input{
    width: 60%;
    border-radius: 35px;
    padding: 20px 35px;
}

.button2{
    background-color:rgba(0, 68, 255, 0.863);
    border-radius: 35px;
    width: 30%;
    padding: 10px 25px 10px 0;
    margin-right: 3%;
    color: white;
    font-weight: bold;
    font-size: 150%;
    border: 0px;
}

h4{
    padding-right: 3%;
}

.icons img{
    width: 17%;
    height: 17%;
    padding: 0 10px;
}

h1{
    font-size: 65px;
    font-weight: bold;
}